<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мем стор</title>

    <link rel="stylesheet" href="utils/css/colors-theme.css">
    <link rel="stylesheet" href="utils/css/colors.css">
    <link rel="stylesheet" href="utils/css/shorts.css">
    <link rel="stylesheet" href="utils/css/style.css">

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">

    <script src="controller.js"></script>
    <script src="dialogs/login/controller.js"></script>
    <script src="dialogs/mint/controller.js"></script>

</head>

<body class="col back-black text-white" ng-app="app" ng-controller="main">

<header class="row asc gap32 ph32 h64 fixed top back-black p8 fill-width text4">
    <div class="row asc gap16">
        <span class="text-white bold uppercase">RARIBLE</span>
        <span class="text-white-60 cursor">Explore</span>
        <span class="text-gray cursor" ng-click="showMint($event)">Mint</span>
        <span class="text-yellow10 cursor">Gacha</span>
    </div>

    <div class="flex row acc">
        <div class="row acc relative w500 border-gray r4 ph8 text-white pl32">
            <img class="img16 absolute left ml8" src="icon/search1.svg">

            <md-autocomplete
                    class="flex text-white search-sm"
                    md-selected-item="selectedItem"
                    md-search-text="searchText"
                    md-items="item in getMatches(searchText)"
                    md-item-text="item.mem_title"
                    md-min-length="1"
                    md-no-cache="true"
                    md-autocomplete-snap="width"
                    md-input-name="searchInput"
                    placeholder="Search collections and items">

                <md-item-template>
                    <div class="row aic gap8 p8">
                        <img class="img32 r4" ng-src="{{item.poster}}">
                        <div class="col">
                            <span class="text-white"> {{ item.user_name }}</span>
                            <small class="text-gray">{{ item.user_name }}</small>
                        </div>
                    </div>
                </md-item-template>

                <md-not-found>
                    <div class="text-gray p8">No matches found.</div>
                </md-not-found>

            </md-autocomplete>
        </div>
    </div>


    <div class="row aec">
        <button class="back-yellow text-black ph16 pv8 r16" ng-click="showLogin()">
            Login
        </button>
    </div>
</header>

<main class="col ph32 pv10 gap32 back-black scroll" style="flex: 1; padding-top: 64px;">
    <div class="row asc gap16 text2">
        <span class="text-white ">Live & Upcoming</span>
        <span class="text-gray cursor">Past</span>
    </div>


    <div class="row asc wrap gap24 mt16">

        <div class="col r8 cursor border-gray p8" ng-repeat="mem in mems">
            <div class="relative">
                <img src="img/nft.jpg" class="img160 r8">
text{{mem.user_id}}
                text{{user.user_id}}
                <img src="icon/like.svg" class="img20 cursor absolute top right" ng-click="like(mem)">
            </div>

            <div class="col p8 gap4">
                <div class="text-yellow bold">{{mem.mem_title}}</div>
                <div class="row asc gap8">
                    <div class="text-white bold uppercase">{{ mem.user_name }}</div>
                    <img src="icon/verified.svg" class="img16">
                </div>
            </div>

            <div class="row asc gap8">
                <div class="text-white bold text2">${{mem.mem_price}}</div>
                <img src="icon/info.svg" class="img16">
            </div>

            <button ng-if="mem.user_id != user.user_id"
                    ng-click="buy(mem)"
                    class="back-yellow text-black ph16 pv8 r16">
                Купить
            </button>
            <button ng-if="mem.user_id == user.user_id"
                    ng-click="percent(mem)"
                    class="back-yellow text-black ph16 pv8 r16">
                Поднять +10%
            </button>
        </div>
    </div>
    </div>
</main>
<div class="h100 w100"></div>

<div class="fixed bottom fill-width">
    <footer class="row asc wrap gap16 p16 mb16 mh32 border-gray text-gray r8 back-black">
        <div class="row gap8 asc">
            <span>© Gahinga Inc.</span>
            <span class="cursor">Terms</span>
            <span class="cursor">Privacy</span>
            <span class="cursor">FAQ</span>
            <span class="cursor">API</span>
        </div>

        <div class="flex row aec gap16">
            <div class="row gap8 aec">
                <button class="text-white cursor ph8 pv4 r4">USD</button>
                <button class="text-white cursor ph8 pv4 r4">Crypto</button>
            </div>

            <img src="icon/eth.svg" class="img16">
            <span class="text-white">$1,914</span>

            <img src="icon/solana.svg" class="img16">
            <span class="text-white">$76.84</span>

            <img src="icon/discord.svg" class="img16">
            <span class="cursor">Community</span>
        </div>

    </footer>
</div>
</body>
</html>
