<form class="dialog col gap16 back-gray100 r16 p32 text-white" ng-submit="enter()">
    <div class="row asc mb16">
        <div class="flex bold text2">Вход</div>
        <img class="img30 img-white ripple r16" src="icon/close.svg" ng-click="close()">
    </div>

    <input type="email" ng-model="user_email" placeholder="Емейл" required>

    <input type="password" ng-model="user_hash" placeholder="Пароль" required minlength="3" maxlength="20">

    <button type="submit">
        Войти
    </button>
</form>