<div class="col aic gap16 back-gray100 r16 p32 w380 relative">
    <img class="img20 cursor" style="position: absolute; top: 16px; right: 16px;" src="icon/close.svg" ng-click="close()">

    <div style="width: 100%; text-align: center; margin-top: 10px;">
        <span class="text-white bold text2">Log in to Rarible</span>
    </div>

    <input type="text" ng-model="login" placeholder="your@email.com"
           class="flex back-gray100 border-gray r4 p8 text-white pl32">

    <input type="text" ng-model="pass" placeholder="password"
           class="flex back-gray100 border-gray r4 p8 text-white pl32">

    <button ng-click="enter()"
            class="flex back-gray100 border-gray r4 p8 text-white pl32">
        Войти
    </button>

    <small class="text5 text-center text-gray ">
        Protected by ⚙️ <span class="text-white">privacy</span>
    </small>

</div>
