<div class="col ace gap8 back-gray100 r16 p32 relative">
    <img class="img20 cursor absolute top right m16" src="icon/close.svg" ng-click="close()">

    <div class="row acc">
        <span class="text-white bold text2">Log in to Rarible</span>
    </div>

    <input type="text" ng-model="user_email" placeholder="your@email.com"
           class="fill-width back-gray100 border-gray r4 p8 text-white">

    <input type="password" ng-model="user_hash" placeholder="password"
           class="fill-width back-gray100 border-gray r4 p8 text-white">

    <button ng-click="enter()"
            class="fill-width back-gray100 border-gray r4 p8 text-white">
        Войти
    </button>

    <small class="text-center text-gray mt8">
        Protected by ⚙️
        <span class="text-white">privacy</span>
    </small>
</div>