<form class="dialog col gap16 back-gray100 r16 p32 text-white" ng-submit="upload()">
    <div class="row mb16">

        <div class="flex bold text2">Mint</div>
        <img class="img30 ripple r16" src="/icon/close.svg"  ng-click="close()">
    </div>

    <div class="col gap8 aic">
        <label for="fileInput" class="file-label text-white back-gray200 r8 p8 ph16 cursor text-ac fill-width">
            Выбрать файл
        </label>

        <img ng-if="mem_image" ng-src="{{ mem_image }}" class="img100 r8 mt8">
    </div>

        <input type="text" ng-model="mem_title" placeholder="Введите название" required minlength="3" maxlength="20">

        <input type="number" ng-model="mem_price" placeholder="0" required min="0">


    <button type="submit">
        Сохранить
    </button>
</form>
